
npm-debug.log
yarn-debug.log
yarn-error.log

.env



/node_modules


.DS_Store
Thumbs.db

/client/node_modules


/client/dist

# Ignore any local configuration file (if you have one)
/server/.env

# Ignore Vite temporary files
node_modules/.vite

# Ignore Vite build output
/client/.build
/client/dist

# Ignore ESLint cache
.eslintcache

# Ignore Visual Studio Code settings
.vscode

# Ignore any local .log files
*.log
